#
# TEE Driver configuration
#

config FIVE_TEE_DRIVER
    bool "Integrity TEE Driver"
    depends on FIVE && QSEECOM
    default y
    help
      Enable Integrity Trusted Execution Environment support

config TEE_DRIVER_DEBUG
    bool "Integrity TEE Driver Debug mode"
    depends on FIVE_TEE_DRIVER
    default n
    help
      Enable Debug mode in TEE Driver

config FIVE_EARLY_LOAD_TRUSTED_APP
    bool "Load trusted application in early boot"
    depends on FIVE_TEE_DRIVER
    default y
    help
      Enable the load of trusted application on during initialization of driver
