CONFIG_SEC_MSM8917_PROJECT=y
CONFIG_SEC_GTA2SLTE_PROJECT=y
CONFIG_MACH_GTA2SLTE_CHN_OPEN=y

CONFIG_DRV_SAMSUNG=y

CONFIG_3G_DDR_SUPPORT=y

#INPUT MODULES
CONFIG_TOUCHSCREEN_FTS8=y
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set

#CCIC
CONFIG_CCIC_NOTIFIER=y
CONFIG_CCIC_S2MM005=y
CONFIG_CCIC_ALTERNATE_MODE=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_CCIC_LPM_ENABLE=y

#MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5703=y
CONFIG_MUIC_UART_SWITCH=y
# CONFIG_MUIC_SUPPORT_EARJACK is not set
# CONFIG_MUIC_UNIVERSAL_SM5705 is not set
# CONFIG_MUIC_UNIVERSAL_SM5705_AFC is not set
CONFIG_MUIC_PINCTRL=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_MFD_SM5703=y
CONFIG_MUIC_SM570X_SWITCH_CONTROL_GPIO=y
CONFIG_MUIC_SLAVE_MODE_CONTROL_VBUS=y

#USB Host
CONFIG_USB_HOST_NOTIFY=y
CONFIG_VBUS_NOTIFIER=y

# BATTERY & CHARGER
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG_V2=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_NOTIFIER=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CHARGER_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_BATTERY_SWELLING=y
CONFIG_SEC_MPP_SHARE=y
# CONFIG_DISABLE_SAFETY_TIMER is not set
CONFIG_INBATVOLT_FG=y
CONFIG_CHARGER_SM5703_DUALPATH=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_STEP_CHARGING=y
CONFIG_TABLET_MODEL_CONCEPT=y
CONFIG_BATTERY_CISD=y
CONFIG_BATTERY_AGE_FORECAST=y

CONFIG_SYSFS=y
CONFIG_INPUT=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_SX9306=y
CONFIG_SENSORS_SX9306_SUB=y
CONFIG_SENSORS_SX9306_WIFI=y
CONFIG_SENSORS_GRIP_CHK_HALLIC=y
#NFC

#HALL IC
CONFIG_SENSORS_HALL=y

#CAMERA
CONFIG_S5K5E3YX=y
CONFIG_ACTIVE_FLASH=y
CONFIG_USE_CAMERA_HW_BIG_DATA=y

#EEPROM
CONFIG_GET_REAR_MODULE_ID=y

#AUDIO
CONFIG_SAMSUNG_JACK=y
CONFIG_SND_EXT_MIC_BIAS=y
# CONFIG_SLIMBUS is not set
# CONFIG_SLIMBUS_MSM_NGD is not set
# CONFIG_SOUNDWIRE is not set

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_SM_FLASH_LED=y
CONFIG_FLED_SM5703=y

#SD
CONFIG_SEC_HYBRID_TRAY=y

#DISPLAY
CONFIG_PANEL_S6D7AA0X11_TV080WXM_WXGA=y
CONFIG_SAMSUNG_12_8MHZ_ESC_CLOCK=y

# MOTOR
CONFIG_MSM_VIBRATOR=y
CONFIG_REGULATOR_SM5703=y
CONFIG_SM5703_VIBRATOR=y

#SVC LEDS
CONFIG_LEDS_KTD2026=y

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y

# Legacy alarm dev
# CONFIG_ANDROID_INTF_ALARM_DEV is not set

CONFIG_NR_CPUS=4

# KNOX SDP and DLP
CONFIG_SDP=y
CONFIG_DLP=y

# HQM
CONFIG_SEC_DEBUG_APPS_CLK_LOGGING=y
CONFIG_SEC_AP_HEALTH=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZSMALLOC_OBJ_SEQ=n
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZSWAP_COMPACTION=y
CONFIG_ZSWAP_ENABLE_WRITEBACK=n
CONFIG_ZSWAP_SAME_PAGE_SHARING=n
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# MMAP READAROUND
CONFIG_MMAP_READAROUND_LIMIT=16
