CONFIG_SEC_MSM8917_PROJECT=y
CONFIG_SEC_ON5XLLTE_PROJECT=y
CONFIG_MACH_ON5XLLTE_CHN_OPEN=y

CONFIG_DRV_SAMSUNG=y

#INPUT MODULES
CONFIG_KEYBOARD_ABOV_TOUCH_16XX=y
CONFIG_KEYBOARD_MELFAS_MHS204=y
CONFIG_SEC_INCELL=y
CONFIG_TOUCHSCREEN_SYNAPTICS_INCELL=y

#MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_S2MU005=y
CONFIG_MFD_S2MU005=y
CONFIG_MUIC_UART_SWITCH=y

#USB NNOTIFY
CONFIG_USB_HOST_NOTIFY=y
CONFIG_VBUS_NOTIFIER=y

# BATTERY & CHARGER
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_CHARGER_S2MU005=y
CONFIG_FUELGAUGE_S2MU005=y
CONFIG_BATTERY_SWELLING=y
CONFIG_SEC_MPP_SHARE=y

CONFIG_SYSFS=y
CONFIG_INPUT=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_STK3013=y

#NFC

#MMC
CONFIG_SEC_HYBRID_TRAY=y
#HALL IC
#CONFIG_SENSORS_HALL=y

#CAMERA
CONFIG_IMX258=y
CONFIG_S5K5E3YX=y

#AUDIO
CONFIG_SAMSUNG_JACK=y
# CONFIG_SLIMBUS is not set
# CONFIG_SLIMBUS_MSM_NGD is not set
# CONFIG_SOUNDWIRE is not set
CONFIG_SW_100K_TO_GND=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_LEDS_S2MU005=y
CONFIG_LEDS_S2MU005_FLASH=y

#EEPROM
CONFIG_GET_REAR_MODULE_ID=y

#DISPLAY
CONFIG_PANEL_HX83100A_C5001H3F_HD=y
CONFIG_BLIC_ISL98611=y
CONFIG_PANEL_TD4100_C5001H3F_HD=y

# MOTOR
CONFIG_MSM_VIBRATOR=y

#SVC LEDS
CONFIG_LEDS_KTD2026=y

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y

# Legacy alarm dev
CONFIG_ANDROID_INTF_ALARM_DEV=y

CONFIG_NR_CPUS=4

# MMAP READAROUND
CONFIG_MMAP_READAROUND_LIMIT=32

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZSMALLOC_OBJ_SEQ=n
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZSWAP_COMPACTION=y
CONFIG_ZSWAP_ENABLE_WRITEBACK=n
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# KNOX SDP and DLP
CONFIG_SDP=y
CONFIG_DLP=y
