CONFIG_SEC_MSM8917_PROJECT=y
CONFIG_SEC_J3LLTE_PROJECT=y
CONFIG_MACH_J3LLTE_USA_SPR=y

CONFIG_DRV_SAMSUNG=y

#INPUT MODULES
CONFIG_KEYBOARD_ABOV_TOUCH=y
CONFIG_KEYBOARD_MELFAS_MHS204=y
CONFIG_KEYBOARD_STMPE1801=y
CONFIG_TOUCHSCREEN_IST3026C=y

#MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5703=y
CONFIG_MUIC_UART_SWITCH=y
CONFIG_MUIC_SUPPORT_EARJACK=y
# CONFIG_MUIC_UNIVERSAL_SM5705 is not set
# CONFIG_MUIC_UNIVERSAL_SM5705_AFC is not set
CONFIG_MUIC_PINCTRL=y
# CONFIG_MUIC_SUPPORT_RUSTPROOF is not set
CONFIG_MFD_SM5703=y

#USB Host
CONFIG_USB_HOST_NOTIFY=y

# BATTERY & CHARGER
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_CHARGER_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_BATTERY_SWELLING=y
CONFIG_SEC_MPP_SHARE=y

CONFIG_SYSFS=y
CONFIG_INPUT=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_GPIO=y
CONFIG_INPUT_POLLDEV=y

#SENSORS
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_STK3013=y

#NFC

#HALL IC
CONFIG_SENSORS_HALL=y

#CAMERA
CONFIG_IMX135=y
CONFIG_S5K5E3YX=y

#AUDIO
# CONFIG_SLIMBUS is not set
# CONFIG_SLIMBUS_MSM_NGD is not set
# CONFIG_SOUNDWIRE is not set

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_SM_FLASH_LED=y
CONFIG_FLED_SM5703=y

#DISPLAY
CONFIG_PANEL_SC7798D_BV038WVM_WVGA=y

# MOTOR
CONFIG_MSM_VIBRATOR=y

#SVC LEDS
CONFIG_LEDS_KTD2026=y

#Power off Alarm
# CONFIG_RTC_AUTO_PWRON is not set

# Legacy alarm dev
# CONFIG_ANDROID_INTF_ALARM_DEV is not set

CONFIG_NR_CPUS=4
