#
# Kconfig for MELFAS MMS400 Touchscreen driver
#

if INPUT_TOUCHSCREEN

config TOUCHSCREEN_MELFAS_MMS449
        tristate "MELFAS Touchscreen"
        depends on I2C
        help
          Say Y here if you have a MELFAS touchscreen device in your system.

          If unsure, say N.

          To compile this driver as a module, choose M here: the module will be called mms_ts.

config TOUCHSCREEN_MELFAS_MMS438
        tristate "MELFAS Touchscreen"
        depends on I2C
        help
          Say Y here if you have a MELFAS touchscreen device in your system.

          If unsure, say N.

          To compile this driver as a module, choose M here: the module will be called mms_ts.

config TOUCHSCREEN_DUMP_MODE
        tristate "TSP dump mode"
        depends on I2C

endif

