#
# Kernel Performance Events and Counters
#
CONFIG_PERF_EVENTS=y
CONFIG_SLUB_DEBUG=y
# CONFIG_SLUB_DEBUG_LIGHT is not set
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_PTRACK_DEBUG=y

#
# Kernel hacking
#
CONFIG_SLUB_DEBUG_ON=y
# CONFIG_DEBUG_KMEMLEAK is not set
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_SND_SOC_SAMSUNG_VERBOSE_DEBUG=y
CONFIG_SEC_FILE_LEAK_DEBUG=y

CONFIG_EXYNOS_SNAPSHOT_LOGGING_SMC_CALL=y

#
# DS5 Streamline v22
#
CONFIG_PROFILING=y
CONFIG_FTRACE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_LOCAL_TIMERS=y
CONFIG_LOCAL_TIMERS=y
CONFIG_GATOR=m
#CONFIG_GATOR=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_MMC_DW_DEBUG=y
#
# Character devices
#
CONFIG_DEVMEM=y

# Rooting prevention
#
# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set
#
# UFS Journal Data Tag Debug
CONFIG_JOURNAL_DATA_TAG_DEBUG=y

#
# TIMA RKP
#
# CONFIG_RKP_KDP is not set
# CONFIG_RKP_NS_PROT is not set
# CONFIG_TIMA_RKP_DEBUG is not set

CONFIG_SAMSUNG_BATTERY_ENG_TEST=y
CONFIG_SEC_GPIO_DVS=y

# CONFIG_SENTINEL is not set
