# msm8953_sec_gtaxlqlte_usa_spr_defconfig

#
# BSP
#
CONFIG_SEC_MSM8953_PROJECT=y
CONFIG_SEC_GTAXLQLTE_USA_SPR=y

#
# Display
#
CONFIG_PANEL_HX8279_TV101WUM_1_WUXGA=y
CONFIG_FB_MSM_MDSS_SAMSUNG=y
CONFIG_PANEL_POWER_ISL98608=y

# BATTERY & Charger
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
# CONFIG_AFC_CHARGER_MODE is not set
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_SEC_MPP_SHARE=y
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_CHARGER_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_BATTERY_SWELLING=y
CONFIG_INBATVOLT_FG=y
CONFIG_SW_SELF_DISCHARGING=y

#
# InputDevice
#
CONFIG_TOUCHSCREEN_FTS7=y
CONFIG_TOUCHSCREEN_DUMP_MODE=y
# CONFIG_SECURE_TOUCH is not set

# CONFIG_MFD_SM5705 is not set
# CONFIG_SM5705_SUPPORT_GAMEPAD is not set
CONFIG_MFD_SM5703=y
CONFIG_REGULATOR_SM5703=y

#
# Sensor
#
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_CM3323=y
CONFIG_SENSORS_SX9306=y
CONFIG_SENSORS_SX9306_WIFI=y
CONFIG_SENSORS_GRIP_CHK_HALLIC=y

#HALL IC
CONFIG_SENSORS_HALL=y
# CONFIG_CERTIFY_HALL is not set

#
# MUIC
#
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5703=y
# CONFIG_MUIC_UNIVERSAL_SM5705 is not set
# CONFIG_MUIC_UNIVERSAL_SM5705_AFC is not set
CONFIG_MUIC_PINCTRL=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_MUIC_SUPPORT_LANHUB=y

#
# MOTOR
#
CONFIG_MSM_VIBRATOR=y
# CONFIG_DC_MOTOR_PMIC is not set

#
# NFC ESE
#

#EEPROM
CONFIG_GET_REAR_MODULE_ID=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_SM_FLASH_LED=y
CONFIG_FLED_SM5703=y

#CAMERA
CONFIG_SR259=y
CONFIG_ACTIVE_FLASH=y

#
# Audio
#
CONFIG_SND_SOC_MSM8X16_RT5659=y
# CONFIG_SND_SOC_MSM8X16 is not set

# Earjack
CONFIG_SAMSUNG_JACK=y

# undefine hbtp
CONFIG_INPUT_HBTP_INPUT=n

#Power off Alarm
# CONFIG_RTC_AUTO_PWRON is not set

# Legacy alarm dev
# CONFIG_ANDROID_INTF_ALARM_DEV is not set

# Service LED
# CONFIG_LEDS_SM5705_RGB is not set

# MMC
CONFIG_SEC_HYBRID_TRAY=y

# Scheduler
CONFIG_SEC_ADAPTIVE_LOAD_TRACKING=y

# SDP and DLP
CONFIG_SDP=y
CONFIG_DLP=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZSMALLOC_OBJ_SEQ=n
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZSWAP_COMPACTION=y
CONFIG_ZSWAP_ENABLE_WRITEBACK=n
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

#CPU WEAR LEVELING
CONFIG_SS_THERMAL_CPU_WEAR_LEVEL=y
