# msm8953_sec_on7xlte_chn_defconfig

#
# BSP
#
CONFIG_SEC_ON7XLTE_CHN=y

#
# Display
#
CONFIG_PANEL_TD4300_BS055FHM_FHD=y
CONFIG_FB_MSM_MDSS_SAMSUNG=y
CONFIG_BLIC_ISL98611=y

# BATTERY & Charger
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CHARGER_SM5705=y
CONFIG_FUELGAUGE_SM5705=y
CONFIG_SEC_MPP_SHARE=y
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_BATTERY_SWELLING=y
# CONFIG_MULTI_CHARGING is not set
# CONFIG_STEP_CHARGING is not set
# CONFIG_CHARGER_DA9155 is not set
#
# InputDevice
#
CONFIG_KEYBOARD_MELFAS_MHS204=y
CONFIG_SEC_INCELL=y
CONFIG_TOUCHSCREEN_SYNAPTICS_INCELL=y
CONFIG_SECURE_TOUCH=y
CONFIG_MFD_SM5705=y
# CONFIG_SM5705_SUPPORT_GAMEPAD is not set
CONFIG_MFD_SM5703=y
CONFIG_REGULATOR_SM5705=y

# Finger print sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_ET510=y
CONFIG_SENSORS_FP_SPI_NUMBER=4
CONFIG_SENSORS_FP_SPI_GPIO_START=12
CONFIG_SENSORS_FP_SPI_GPIO_END=15

#
# Sensor
#
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_STK3013=y

#HALL IC
# CONFIG_SENSORS_HALL is not set

#SVC LEDS
#REV00
CONFIG_LEDS_KTD2026=y
#REV01
CONFIG_LEDS_SM5705_RGB=y 

#
# MUIC
#
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_MULTI_SUPPORT=y
CONFIG_MUIC_UNIVERSAL_SM5703=y
CONFIG_MUIC_UNIVERSAL_SM5705=y
CONFIG_MUIC_UNIVERSAL_SM5705_AFC=y
CONFIG_MUIC_PINCTRL=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_MUIC_HV=y

#
# MOTOR
#REV00
CONFIG_MSM_VIBRATOR=y
# CONFIG_DC_MOTOR_PMIC is not set
#REV01
CONFIG_SM5703_VIBRATOR=y

#
# NFC ESE
#
CONFIG_SAMSUNG_NFC=y
CONFIG_NFC_PN547=y

#EEPROM
CONFIG_GET_REAR_MODULE_ID=y

#FLASH
CONFIG_LEDS_SM5705=y
CONFIG_LEDS_SEPARATE_PREFLASH=y
# CONFIG_DUAL_LEDS_FLASH is not set
#
# Audio
#
# CONFIG_SND_SOC_MSM8X16_RT5659 is not set
# CONFIG_MSM_ULTRASOUND is not set
CONFIG_WCD9335_CODEC=y

# Earjack
CONFIG_SAMSUNG_JACK=y

# undefine hbtp
CONFIG_INPUT_HBTP_INPUT=n

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y

# Legacy alarm dev
CONFIG_ANDROID_INTF_ALARM_DEV=y

# MMC
CONFIG_SEC_HYBRID_TRAY=y

# SDP and DLP
CONFIG_SDP=y
CONFIG_DLP=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZSMALLOC_OBJ_SEQ=n
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZSWAP_COMPACTION=y
CONFIG_ZSWAP_ENABLE_WRITEBACK=n
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# WLAN
CONFIG_WLAN_FEATURE_11W=n