# msm8953_sec_msm8953lte_chn_defconfig

#
# BSP
#
CONFIG_SEC_MSM8953_PROJECT=y
CONFIG_SEC_MSM8953LTE_CHN=y

#
# Display
#
CONFIG_PANEL_S6E3FA3_AMS598KH01_FHD=y
CONFIG_FB_MSM_MDSS_SAMSUNG=y

# BATTERY & Charger
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CHARGER_SM5705=y
CONFIG_FUELGAUGE_SM5705=y
CONFIG_SEC_MPP_SHARE=y
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_BATTERY_SWELLING=y

#
# InputDevice
#
CONFIG_TOUCHSCREEN_MELFAS_MMS449=y
# CONFIG_KEYBOARD_ABOV_TOUCH_18XX is not set
# CONFIG_KEYBOARD_ABOV_TOUCH_16XX is not set
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set
# CONFIG_SECURE_TOUCH is not set
CONFIG_KEYBOARD_ABOV_TOUCH_18XX=y
# CONFIG_KEYBOARD_ABOV_TOUCH_16XX is not set

CONFIG_MFD_SM5705=y

# Finger print sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_VFS7XXX=y
CONFIG_SENSORS_ET320=y
CONFIG_SENSORS_FINGERPRINT_DUALIZATION=y
CONFIG_SENSORS_FP_SPI_NUMBER=4
CONFIG_SENSORS_FP_SPI_GPIO_START=12
CONFIG_SENSORS_FP_SPI_GPIO_END=15
# CONFIG_SENSORS_FP_LOCKSCREEN_MODE is not set

#
# Sensor
#
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_SSC=y
CONFIG_SENSORS_BHI=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_ST_HWMON=y
CONFIG_SENSORS_CM36655=y
CONFIG_SENSORS_CM36655_LEDA_EN_GPIO=y
CONFIG_SENSOR_CM36655_VIO=y
CONFIG_SENSORS_AK09916C=y
CONFIG_SENSORS_SW_RESET=y

#HALL IC
CONFIG_SENSORS_HALL=y
CONFIG_CERTIFY_HALL=y

#
# MUIC
#
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5705=y
CONFIG_MUIC_UNIVERSAL_SM5705_AFC=y
CONFIG_MUIC_PINCTRL=y
CONFIG_USB_HOST_NOTIFY=y
# CONFIG_MUIC_SUPPORT_RUSTPROOF is not set

#
# MOTOR
#
CONFIG_MSM_VIBRATOR=y

#
# NFC
#
CONFIG_SAMSUNG_NFC=y
CONFIG_SEC_NFC=y
CONFIG_ESE_P3=y

#
# Audio
#
CONFIG_SND_SOC_MSM8X16_RT5659=y
# CONFIG_SND_SOC_MSM8X16 is not set

# Earjack
CONFIG_SAMSUNG_JACK=y

# undefine hbtp
CONFIG_INPUT_HBTP_INPUT=n

#MMC
CONFIG_SEC_HYBRID_TRAY=y

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y
