CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_DYNAMIC_DEBUG=y

#
# DS5 Streamline v22
#
CONFIG_HW_PERF_EVENTS=y
CONFIG_PERF_EVENTS=y
CONFIG_FTRACE=y
CONFIG_LOCAL_TIMERS=y
CONFIG_GATOR=m
CONFIG_BLK_DEV_IO_TRACE=y

#
# Samsung Rooting Restriction Feature
#
# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set
